# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/Minigin.pdb
.vs/Minigin/v17/Browse.VC.opendb
.vs/Minigin/v17/Browse.VC.db-wal
.vs/Minigin/v17/Browse.VC.db-shm
.vs/Minigin/v17/Browse.VC.db
.vs/Minigin/v17/.suo
Minigin/x64/Debug/Minigin.tlog/Lib.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/Lib-link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/Lib-link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/Win32/Debug/Minigin.Build.CppClean.log
Minigin/Win32/Debug/Minigin.lib.recipe
Minigin/Win32/Debug/Minigin.log
Minigin/Win32/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/Win32/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/Win32/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Lib-link.read.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Lib-link.write.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Lib.command.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/Win32/Debug/Minigin.vcxproj.FileListAbsolute.txt
Minigin/Win32/Release/Minigin.lib.recipe
Minigin/Win32/Release/Minigin.log
Minigin/Win32/Release/Minigin.tlog/CL.command.1.tlog
Minigin/Win32/Release/Minigin.tlog/CL.read.1.tlog
Minigin/Win32/Release/Minigin.tlog/CL.write.1.tlog
Minigin/Win32/Release/Minigin.tlog/Lib-link.read.1.tlog
Minigin/Win32/Release/Minigin.tlog/Lib-link.write.1.tlog
Minigin/Win32/Release/Minigin.tlog/Lib.command.1.tlog
Minigin/Win32/Release/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.Build.CppClean.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.lib.recipe
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Burgertime/x64/Release/vc143.pdb
Burgertime/x64/Release/Burgertime.tlog/link.write.1.tlog
Burgertime/x64/Release/Burgertime.tlog/link.read.1.tlog
Burgertime/x64/Release/Burgertime.tlog/link.command.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.write.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.read.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.command.1.tlog
Burgertime/x64/Release/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/Debug/Burgertime.exe.recipe
Burgertime/Debug/Burgertime.ilk
Burgertime/Debug/Burgertime.log
Burgertime/Debug/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/Debug/Burgertime.tlog/CL.command.1.tlog
Burgertime/Debug/Burgertime.tlog/CL.read.1.tlog
Burgertime/Debug/Burgertime.tlog/CL.write.1.tlog
Burgertime/Debug/Burgertime.tlog/link.command.1.tlog
Burgertime/Debug/Burgertime.tlog/link.read.1.tlog
Burgertime/Debug/Burgertime.tlog/link.write.1.tlog
Burgertime/Debug/Burgertime.vcxproj.FileListAbsolute.txt
Burgertime/Debug/vc143.idb
Burgertime/Debug/vc143.pdb
.vs/Minigin/v17/ipch/1625c27ef550dd6d.ipch
.vs/Minigin/v17/ipch/1ac6a56d357ea957.ipch
.vs/Minigin/v17/ipch/731bce320b7f65d7.ipch
.vs/Minigin/v17/ipch/960b87f9c666e917.ipch
.vs/Minigin/v17/ipch/ed725c0a21cfa8fd.ipch
Burgertime/Debug/Burgertime.Build.CppClean.log
Burgertime/Release/Burgertime.iobj
Burgertime/Release/Burgertime.ipdb
Burgertime/Release/Burgertime.log
Burgertime/Release/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/Release/Burgertime.tlog/CL.command.1.tlog
Burgertime/Release/Burgertime.tlog/CL.read.1.tlog
Burgertime/Release/Burgertime.tlog/CL.write.1.tlog
Burgertime/Release/Burgertime.tlog/link.command.1.tlog
Burgertime/Release/Burgertime.tlog/link.read.1.tlog
Burgertime/Release/Burgertime.tlog/link.write.1.tlog
Burgertime/Release/vc143.pdb
Burgertime/x64/Debug/Burgertime.Build.CppClean.log
Burgertime/x64/Debug/Burgertime.exe.recipe
Burgertime/x64/Debug/Burgertime.ilk
Burgertime/x64/Debug/Burgertime.log
Burgertime/x64/Debug/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/x64/Debug/Burgertime.tlog/CL.command.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/CL.read.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/CL.write.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/link.command.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/link.read.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/link.write.1.tlog
Burgertime/x64/Debug/Burgertime.vcxproj.FileListAbsolute.txt
Burgertime/x64/Debug/vc143.idb
Burgertime/x64/Debug/vc143.pdb
Burgertime/x64/Release/Burgertime.exe.recipe
Burgertime/x64/Release/Burgertime.iobj
Burgertime/x64/Release/Burgertime.ipdb
Burgertime/x64/Release/Burgertime.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.vcxproj.FileListAbsolute.txt
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Release/Minigin.lib.recipe
Minigin/x64/Release/Minigin.log
Minigin/x64/Release/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Release/Minigin.tlog/Lib-link.read.1.tlog
Minigin/x64/Release/Minigin.tlog/Lib-link.write.1.tlog
Minigin/x64/Release/Minigin.tlog/Lib.command.1.tlog
Minigin/x64/Release/Minigin.tlog/Minigin.lastbuildstate
Release/Burgertime.pdb
Win32/Debug/Minigin.idb
Win32/Debug/Minigin.pdb
Win32/Release/Minigin.pdb
x64/Debug/Burgertime.pdb
x64/Debug/Minigin.idb
x64/Release/Burgertime.pdb
x64/Release/Minigin.pdb
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
.vs/Minigin/project-colors.json
.vs/Minigin/v17/fileList.bin
.vs/Minigin/v17/Solution.VC.db
.vs/Minigin/v17/Solution.VC.db-shm
.vs/Minigin/v17/Solution.VC.db-wal
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
.vs/Minigin/v17/ipch/a71134b09a489982.ipch
.vs/Minigin/v17/ipch/e6c1da5dc021fb32.ipch
.vs/Minigin/v17/ipch/f76554e9acb0b107.ipch
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
.vs/Minigin/v17/HierarchyCache.v1.txt
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
Minigin/x64/Debug/vc143.pdb
Minigin/x64/Debug/vc143.idb
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.ilk
.vs/Minigin/v17/ipch/f7e24b66e0e492a4.ipch
